@import url(card-box.css);

.content{
  /* Display settings */
  display: flex;
  justify-content: center;
  align-content: center;
  
   
  /* General Settings */
  margin: 5rem 5em 5rem 5rem;
  text-align: center;
  border-radius: 2rem;
  color: var(--main-text-color);

  width: 100%;

}

.content ul{
  text-align: left;
}

.content ul li {
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
}