@import url(dropdown.css);

.navbar-nav {
  text-align: center;
  padding-top: 5rem;
}

.navbar {
  background: var(--main-bg-dark);
}

/* Configure position of items in navbar */
nav ul li {
  display: inline-block;
  min-width: 13rem;
  margin-left: -.2rem;
  margin-right: -.2rem;
  height: 4rem;
  line-height: 4rem;
  background: transparent;
  transition: all .1s linear;
}

nav ul li {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  font-size: 2.3rem;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
}

nav ul li:hover {
  border-bottom: .5rem solid  var(--gold-color);
}

nav ul li:first-child{
  position: absolute;
  left: 5rem;
  top: 0.7rem;
  border: 0;
}

nav ul li:last-child{
  position: absolute;
  right: 5rem;
  border: 0;
}

nav ul li:last-child > a:hover{
  font-weight: bold;
  color: var(--red-color);
}

nav ul li .btn{
  position: absolute;
  margin: 0.5rem 0 0 3rem;

}