@media only screen and (max-width: 600px){
    
    .content{
        flex-direction: column;
        width: 100%;
    }

    .nav-brand{
        display: none;
        overflow: hidden;
    }

    .navbar{
        justify-content: flex-start;
    }

    nav{
        flex-basis: 6rem;
    }

    nav ul li {
        min-width:  6.5rem ;
        padding: 0 2rem 0 2rem;
    }

    nav *,
    nav button{
        font-size: 1.5rem !important;

    }

    h1{
        font-size: 2.8rem;
    }

    h2{
        font-size: 2.6rem;
    }

    .dropdown{
        flex-shrink: 2 !important;
    }

    .card-box{
        text-align: center;
        height: 22rem;
        margin: 5rem;
    }

    .card-box p, span{
        font-size: 2rem;
    }


    .card-box.sm,
    .card-box.lg,
    .mini-box,
    .extra{
        min-width: 20rem;
        max-width: 40rem;        
    }

    .card-box.lg h3,
    .card-box.lg.extra{
        font-size: 2rem;
        text-align: center;
    }


    .extra label{
        font-size: 1rem;
        flex-grow: 3;
        align-self: flex-start;
        min-width: 10rem !important;
        
    }

    .extra td,
    textarea, input, select{
        width: 17.3rem;
        
    }

    .extra textarea{
        height: 5rem;
    }

    .extra th {
        text-align: left;
    }

    .box-content{
        justify-self: center;
        align-self: center;
        padding: 2rem;
    }
}