@import url(navbar.css);
@import url(content.css);
@import url(texts.css);
@import url(forms.css);


* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
  text-decoration: none;
  background-color: #303030;
  font-family: "Open Sans Condensed";
}

a:link{
  /* color: #354F52; */
  text-decoration: none;
}


.main{
  margin-top: 5rem;
  color: #E0E0E0;
  text-align: center;
}

.center{
  justify-content: center;
}

.effect-hover a:hover{
  color: yellowgreen;
}