@import url(colors.css);
@import url(navbar.css);
@import url(content.css);
@import url(texts.css);
@import url(forms.css);
@import url(extract.css);
@import url(responsive.css);


* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
  text-decoration: none;
  background-color: var(--main-bg-color);
  font-family: "Open Sans Condensed";
  transition: all 500ms linear;
}

body{ 
  height:100vh; 
  margin:0; 
  display: flex;
  flex-direction: column;
}

footer{
  background: var(--main-bg-dark);
  color: var(--main-text-color);
  text-align: center;
  margin-top: auto ;
  bottom: 0;
  padding: 2rem 0 2rem 0;
  font-size: 1.4rem;
}

a:link{
  /* color: #354F52; */
  text-decoration: none;
}


.main{
  margin-top: 5rem;
  color: var(--main-text-color);
  text-align: center;
  height: 80vh;
}

.center{
  justify-content: center;
}

.text-left{
  text-align: left;
  padding: 2rem 0 2rem 2rem;
}

.effect-hover a:hover{
  color: var(--green-color);
}

